*.png
*.pdf
*.txt
*.log
*.zip
.vscode/*
.github/*
../Reco_Dir
../kewen_scripts
__pycache__
docs/*
tests/*
scripts/*
cov_annotate/*
.pytest_cache/*
.coverage
read_header/__pycache__
find_events/__pycache__